/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* The Masonry Container */
.masonry {
    margin: 1.5em auto;
    max-width: 1000px;
    column-gap: 1.5em;
    column-count: 1;
}

/* The Masonry Brick */
.item {
    background: #fff;
    padding: 1em 1em 0;
    width: 100vw;
    position: relative;
    margin: 0 0 1.5em -50vw;
    height: auto;
    left: 50%;
}

.button {
    border-radius: 100px;
}

#intro {
    color: black
}

#top {
    margin-bottom: 2em;
}

.bio {
    color: dimgray;
    margin-bottom: 1rem;
    font-size: 1.25em;
}
.text {
    display: none;
}
.the-rest #me{
    padding: 0;
    max-height: 20em;
}
.the-rest #about{
    text-align: left;
    padding: .75em 0 0 0;
    margin-top: 0;
}
.the-rest #bio{
    padding: .75em 0 0 0;
    font-size: 1em;
    line-height: 3rem;
}
.the-rest img{
    padding: 2rem 0;
}

.img__description {
    display: none;
}
li {
    color: dimgray;
    font-size: 1.75rem;
    padding-left: 2rem;
    margin-bottom: 0;
}
ul {
    margin-bottom: 0;
}
#intro {
    font-size: 4rem;
    font-family: 'Song Myung', serif;
    margin: 0;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero-bgs {
    position: relative;
}
.hero-bg {
    position: relative;
    max-width: 100%;
    margin: 0 0;
    display: none
}
.hero-bg + .hero-bg {
    display: none;

}

/* Footer
-------------------------------------------*/
footer{
    font-family: "Song Myung", serif;
    color: darkgray;
    padding: 4rem 0 4rem 0;
}
#footer {
    font-size: 1.5rem;
    text-align: center;
}


/* Navbar
-------------------------------------------*/
#outer {
    width: 100%;
    text-align: center;
}

#inner {
    display: inline-block;
}

.topnav {
    overflow: hidden;
    padding: 3rem 0 3rem;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: "Song Myung", serif;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: grey;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: #ffffff;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 0 0 0 0;
    text-align: left;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}
.work{
    padding: 0 0 0 0;
}
.work-header .description{
    color: dimgray;
    text-align: center;
    font-size: 1.2em;
    line-height: 3rem;
}
.work-header .title {
    text-align: center;
    font-family: "Song Myung", serif;
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.the-rest p {
    color: dimgray;
    font-size: 1.75rem;
    line-height: 3rem;
    margin-bottom: 0;
}
.the-rest h1 {
    font-family: "Song Myung", serif;
    margin-bottom: 1rem;
    padding-top: 2rem;
    font-size: 3rem;
}
.the-rest #summary{
    padding-top: 1rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
    .item {
        padding-bottom: 2rem;
        width: auto;
        position: static;
        margin-left: 0;
        height: auto;
        left: auto;
    }
    .section {
        padding: 0 0 0 0;
        text-align: left;
    }
    .img__description {
        font-size: 1em;
        display: block;
        transition: .2s;
        transform: translateY(1em);
    }
}

/* Bigger than 750 */
@media (min-width: 750px) {
    html {
        font-size: .9vw;
    }
    .masonry {
        column-count: 2;
    }
    #top {
        margin-bottom: 5em;
    }
    .hero-heading {
        font-size: 2.6rem;
    }
    .section {
        padding: 14rem 0 15rem;
    }
    .hero {
        height: 190px;
        padding: 14rem 0 6rem;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-bg {
        width: 1000px;
        top: 6rem;
        right: 5rem;
        max-height: 510px;
    }
    .work{
        padding: 0 0 0 0;
    }
    .the-rest #bio{
        padding: 1rem 0 0 0;
        font-size: 1.1em;
        line-height: 2em;
    }
    html {
        font-size: 1vw;
    }
    footer{
        padding: 10rem 0 5rem 0;
    }
    #footer {
        font-size: 2rem;
        text-align: center;
    }
    #outer {
        width: 80%;
        text-align: right;
    }
    #inner {
        display: inline-block;
    }
    #intro {
        padding-bottom: 4rem;
        font-size: 3.5em;
    }
    .bio {
        padding-bottom: 4rem;
        font-size: 1.5em;
    }
    li {
        color: dimgray;
        font-size: 1.2em;
        padding-left: 5rem;
    }
    .work-header .description{
        padding-top: 1rem;
        font-size: 2.5rem;
        text-align: left;
        line-height: 4rem;
    }
    .work-header .title {
        text-align: left;
        font-family: "Song Myung", serif;
        font-size: 6rem;
        padding-top: 3rem;
        margin: 0;
    }
    .the-rest p {
        font-size: 1.2em;
        line-height: 3rem;
        margin-bottom: 0;
    }
    .the-rest h1 {
        font-family: "Song Myung", serif;
        padding-top: 3rem;
        font-size: 3.25rem;
        margin-top: 0;
    }
    .the-rest img{
        padding: 4rem 0;
    }
    .the-rest #summary {
        padding-top: 3rem;
    }
    .the-rest #me{
        padding: 0;
        max-height: 30em;
    }
    .topnav {
        overflow: hidden;
        padding: 2rem 0 6rem;
    }
    .section {
        padding: 8rem 0 11rem;
    }
    .hero {
        padding-top: 5rem;
        padding-bottom: 8rem;
        text-align: left;
        height: 165px;
    }
    .hero-bg {
        position: absolute;
        display: unset;
        width: 900px;
        margin: 10rem -12rem;
        top: 8rem;
        left: 3rem;
        max-height: 300px;
        z-index: -1;
        visibility: visible;
    }
    .hero-heading {
        font-size: 2.4rem;
    }
    .work {
        padding: 0 0;
    }
    .topnav a {
        float: right;
    }
    .img__description {
        font-size: 1.75em;
        display: block;
        transition: .2s;
        transform: translateY(1em);
    }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
    html {
        font-size: .7vw;
    }
    li {
    font-size: 1.5em;
}
    .the-rest p {
        font-size: 1.5em;
        line-height: 4rem;
        margin-bottom: 0;
    }
    .the-rest #bio{
        padding: 1rem 0 0 0;
        font-size: 1.5em;
        line-height: 2em;
    }
    .section {
        padding: 26rem 0 19rem;
    }
    .hero {
        padding: 10rem 0 0;
    }
    .hero-heading {
        font-size: 3.0rem;
    }
    .hero-bg {
        width: 1200px;
        box-sizing: border-box;
        top: 1rem;
        max-height: 450px;
    }
    .work{
        padding: 0 0;
    }
    .bio {
        padding-bottom: 4rem;
        font-size: 1.75em;
    }
}

/* Bigger than 1200 */
@media (min-width: 1200px) {
    html {
        font-size: .6vw;
    }
    .section {
        padding: 22rem 0 19rem;
    }
    .hero {
        padding: 6rem 0 0;
    }
    .hero-heading {
        font-size: 3.0rem;
    }
    .hero-bg {
        width: 1400px;
        box-sizing: border-box;
        top: 1rem;
        max-height: 450px;
    }
    .work{
        padding: 10rem 0 0 0;
    }
}

/* Bigger than 1500 */
@media (min-width: 1500px) {
    html {
        font-size: .5rem;
    }
    .section {
        padding: 22rem 0 19rem;
    }
    .hero {
        padding: 5rem 0 0;
    }
    .hero-heading {
        font-size: 3.0rem;
    }
    .hero-bg {
        width: 90%;
        box-sizing: border-box;
        top: 1rem;
        max-height: 450px;
    }
    .work{
        padding: 15rem 0 0 0;
    }
}

/* Animations */
.img__wrap {
    -webkit-box-shadow: 0 5px 18px 0 rgba(168, 168, 168, 0.75);
    -moz-box-shadow: 0 5px 18px 0 rgba(168, 168, 168, 0.75);
    box-shadow: 0 5px 18px 0 rgba(168, 168, 168, 0.75);
}

@media (min-width: 550px) {
    .img__wrap {
        position: relative;
        height: auto;
        width: auto;
    }

    .img__description_layer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(216, 30, 91, .8);
        color: #fff;
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
    }

    .img__wrap:hover .img__description_layer {
        visibility: visible;
        opacity: 1;
    }


    .img__wrap:hover .img__description {
        transform: translateY(0);
    }
}